/*
   FLOATS

  Mobile-first float classes.
  Set the desired float on any element for any breakpoint.
  Base class names are namespaced across three breakpoints:

  -ns = not-small (covers everything larger than mobile)
  -m  = medium
  -l  = large

*/

/*
  1: IE hack. Fixes double margin bug on floated elements in ie6.
  Elements are automatically set to display 'block' when floated
  so this does not affect any other browsers.
*/

.fl { float: left;  display: inline; /*1*/ }
.fr { float: right; display: inline; }
.fn { float: none; }

@media screen and (min-width: 48em) {
  .fl-ns { float: left;  display: inline; }
  .fr-ns { float: right; display: inline; }
  .fn-ns { float: none; }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
  .fl-m { float: left;  display: inline; }
  .fr-m { float: right; display: inline; }
  .fn-m { float: none; }
}

@media screen and (min-width: 64em)  {
  .fl-l { float: left;  display: inline; }
  .fr-l { float: right; display: inline; }
  .fn-l { float: none; }
}

